/* general purpose */
.bg-radialgradient{
  background: -moz-radial-gradient(#777777, #6c757d);
  background: -webkit-radial-gradient(#777777, #6c757d);
  background: radial-gradient(#777777, #6c757d);
}

.ff-fantasy{
  font-family: fantasy;
  font-weight: bold;
}

.fz-26{
  font-size: 26px;
}

.h-150{
  height: 150px;
}

.iconlist{
  list-style: none;
}

.iconlink{
  display: inline-block;
  background-color: #ddd;
  border-radius: 25px;
  box-shadow: 5px 5px 5px#5b646c;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

.iconlink i{
  transition: all 0.5s;
  color: #6c757d;
}

.iconlink:hover i{
  transform: scale(1.3, 1.3);
}

.iconlink:hover .fa-twitter-square{
  color: rgb(29, 161, 242);
}

.iconlink:hover .fa-pencil-alt{
  color: #111;
}

.iconlink:hover .fa-github{
  color: #563d7c;
}

.py-100{
  padding-top: 100px;
  padding-bottom: 100px;
}


/* navbar */
.bg-clear{
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  transition: all 0.5s;
}

.bg-skull{
  background: #f0f0f0;
  transition: all 0.5s;
}

.fc-white1{
  color: rgba(255, 255, 255, 0.9) !important;
}

.fc-white2{
  color: rgba(255, 255, 255, 0.5) !important;
  transition: all 0.5s;
}

.fc-white2:hover{
  color: rgba(255, 255, 255, 0.7) !important;
}

.fc-black1{
  color: rgba(0, 0, 0, 0.9) !important;
}

.fc-black2{
  color: rgba(0, 0, 0, 0.5) !important;
  transition: all 0.5s;
}

.fc-black2:hover{
  color: rgba(0, 0, 0, 0.7) !important;
  transition: all 0.5s;
}


/* top-screen */
.bg-overlay{
  background: linear-gradient(30deg, rgba(92, 77, 66, 0.7), rgba(92, 77, 66, 0.7)), url("photo-1517162024945-595ae6bca1a4.JPG") center;
  background-size: cover;
  width: 100%;
  padding-top: 25%;
  padding-bottom: 25%;
}

.title-relative{
  position: relative;
  top: 0;
  left: 0;
}

.title-absolute{
  position: absolute;
  width: 95%;
}


/* profile-screen */
.profile-image{
  margin-top: 1em;
  border-radius: 40px 15px;
}

.profile-text{
  font-size: 16px;
}


/* footer */
.bg-lineargradient{
  background: linear-gradient(to bottom, #6c757d, #444444 55%, #6c757d);
}

.copyright{
  letter-spacing: 10px;
}
